<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息管理弹出页</title>
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../css/theme.css" rel="stylesheet">
</head>
<body style="padding: 30px 50px 30px 30px">

<div class="layui-row" style="margin-bottom: 30px; text-align: center">
    <div class="layui-col-xs4">
        <div class="grid-demo grid-demo-bg1">考核类型：月度</div>
    </div>
    <div class="layui-col-xs4">
        <div class="grid-demo">考核时间：2018-12</div>
    </div>
    <div class="layui-col-xs4">
        <div class="grid-demo">提交时间：12月5日</div>
    </div>
</div>

<form id="form" class="layui-form" action="">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">工作计划</label>
        <div class="layui-input-block">
            <textarea name="detail" placeholder="请输入工作计划" class="layui-textarea"></textarea>
        </div>
    </div>
    <div id="status" class="layui-form-item">
        <label class="layui-form-label">任务情况</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="未完成" title="未完成" lay-filter="test" checked>
            <input type="radio" name="status" value="已完成" title="已完成" lay-filter="test">
        </div>
    </div>
    <div id="self" class="layui-form-item">
        <label class="layui-form-label">自我评分</label>
        <div class="layui-input-block">
            <input type="number" name="self" required lay-verify="required" placeholder="请输入自我评分"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="manager" class="layui-form-item">
        <label class="layui-form-label">经理评分</label>
        <div class="layui-input-block">
            <input type="number" name="manager" required lay-verify="required" placeholder="请输入经理评分"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="administrator" class="layui-form-item">
        <label class="layui-form-label">管理员评分</label>
        <div class="layui-input-block">
            <input type="number" name="administrator" required lay-verify="required" placeholder="请输入管理员评分"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="sub" class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
        </div>
    </div>
</form>
<script src="../js/jquery-3.4.1.js"></script>
<script src="../layer/layer.js"></script>
<script src="../layui/layui.js"></script>
<script>
    var type;
    var id;
    var jug = true;
    var role = 2;
    $(function(){
        $(function() {
            $.ajax({
                url: "/pm/getPermission",
                type: "get",
                async: false,//使用同步的方式,true为异步方式
                error: function (res) {
                    console.log(res);
                    layer.alert('权限认证有误', {icon: 2});
                },
                success: function (res) {
                    role = eval(res);
                }
            });
        });
        parent.layer.iframeAuto(parent.layer.getFrameIndex(window.name));
        var url = location.search; //这一条语句获取了包括问号开始到参数的最后，不包括前面的路径
        console.log(url);
        var params = url.substr(1);//去掉问号
        var pa = params.split("&");
        var s = {};
        for(var i = 0; i < pa.length; i ++){
            s[pa[i].split("=")[0]] = unescape(pa[i].split("=")[1]);
        }
        type = s.type + "";
        id = s.wid + "";
        if(type === "1") {
            $("#status").remove();
            $("#self").remove();
            $("#manager").remove();
            $("#administrator").remove();
            parent.layer.iframeAuto(parent.layer.getFrameIndex(window.name));
        } else if (type === "2") {
            $.ajax({
                type: "get",
                url: "/pm/performance/getPlanFromId",
                data : {
                    wid : id
                },
                dataType: "json",
                error: function () {
                    layer.alert('出错了，请与管理员联系！', {icon: 2});
                },
                success: function (res) {
                    console.log(res);
                    $("textarea[name='detail']").val(res.dailyplan);
                    $("input:radio[name='status'][value='" + res.completion + "']").attr('checked','true');
                    if(role === 2) {
                        $("input[name='self']").attr("disabled","disabled");
                        $("#manager").remove();
                        $("#administrator").remove();
                    } else if(role === 1) {
                        $("#status").remove();
                        $("#administrator").remove();
                        $("textarea[name='detail']").attr('readonly', true);
                        $("input[name='self']").attr("disabled","disabled");
                    } else {
                        $("#status").remove();
                        $("textarea[name='detail']").attr('readonly', true);
                        $("input[name='self']").attr("disabled","disabled");
                        $("input[name='manager']").attr("disabled","disabled");
                    }
                    if (res.self_rating != null) {
                        $("#status").remove();
                        $("textarea[name='detail']").attr('readonly', true);
                        $("input[name='self']").attr("disabled","disabled");
                    }
                    if (res.supv_rating != null)
                        $("input[name='manager']").attr("disabled","disabled");
                    if (res.adst_rating != null)
                        $("input[name='administrator']").attr("disabled","disabled");
                    $("input[name='self']").attr('value',res.self_rating);
                    $("input[name='manager']").attr('value',res.supv_rating);
                    $("input[name='administrator']").attr('value',res.adst_rating);
                    parent.layer.iframeAuto(parent.layer.getFrameIndex(window.name));
                }
            });
        }
    });

    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            if (type === "1") {
                $.ajax({
                    type:"post",
                    url:"/pm/performance/addPerformance",
                    data : {
                        dailyplan : data.field.detail,
                    },
                    datatype: "json",
                    error: function(){
                        //请求出错处理
                        layer.alert('出错了，请与管理员联系！', {icon: 2});
                    },
                    success:function(res){
                        if (res === "FAIL") {
                            parent.layer.alert('新增失败', {icon: 2});
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        } else {
                            parent.layer.alert('新增成功', {icon: 1});
                            parent.location.reload();
                            parent.layer.close(parent.layer.getFrameIndex(window.name));

                        }
                    }
                });
            } else {
                $.ajax({
                    type:"post",
                    url:"/pm/performance/updatePerformance",
                    data : {
                        dailyplan : data.field.detail,
                        self_rating : data.field.self,
                        completion : data.field.status,
                        supv_rating : data.field.manager,
                        adst_rating : data.field.administrator,
                        wid : id
                    },
                    datatype: "json",
                    error: function(){
                        //请求出错处理
                        layer.alert('出错了，请与管理员联系！', {icon: 2});
                    },
                    success:function(res){
                        if (res === "FAIL") {
                            parent.layer.alert('编辑失败', {icon: 2});
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        } else {
                            parent.layer.alert('编辑成功', {icon: 1});
                            parent.location.reload();
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        }
                    }
                });
            }
            return false;
        });
        form.on('radio(test)', function(data) {
            var value = data.value;
            if(value === "已完成"){
                $("input[name='self']").removeAttr("disabled");
            } else {
                $("input[name='self']").val("");
                $("input[name='self']").attr("disabled","disabled");
            }
        });
    });
</script>
</body>
</html>