<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>工资核算绩效管理系统 ——绩效管理</title>
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../css/css.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        input::-webkit-input-placeholder{
            color: #999999;
        }
    </style>
    <link href="../css/theme.css" rel="stylesheet">
</head>
<body style="width: 100%; background: #F3F7FC;">
<!-- 导航 -->
<div style="width: 100%; height: 36px; margin-top: 10px;">
    <div class="main_locbg font2" style="background:#fff; font-size: 14px; text-align: left; padding: 0 30px 0 30px"><img src="../images/address.png" alt="">&nbsp;当前位置：绩效管理&gt; 工作计划</div>
</div>
<!--计划-->

<!--绩效统计表-->

<!--日历-->

</body>
</html>