<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>工资核算绩效管理系统 ——绩效管理</title>
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../css/css.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        input::-webkit-input-placeholder{
            color: #999999;
        }
    </style>
    <link href="../css/theme.css" rel="stylesheet">
</head>
<body style="width: 100%; background: #F3F7FC;">
<!-- 导航 -->
<div style="width: 100%; height: 36px; margin-top: 10px;">
    <div class="main_locbg font2" style="background:#fff; font-size: 14px; text-align: left; padding: 0 30px 0 30px"><img src="../images/address.png" alt="">&nbsp;当前位置：绩效管理&gt; 工作计划</div>
</div>
<!--绩效统计表-->
<div style="width: 50%;height: 300px;margin-top: 10px;background-color: #fff;float: left;">绩效统计表
</div>
<!--日历及今日安排-->
<div style="width: 16%;height: 300px;margin-top: 10px;margin-left:28px;background-color: #fff;float: left;">日历及今日安排
</div>
<div style="width: 26%;height: 300px;margin-top: 10px;margin-left:28px;background-color: #fff;float: left;">日历及今日安排
</div>

<!--工作计划-->
<div>
    <!--<span style="width:40px;height:200px;color:#333;font-size:18px;font-family:'思源黑体 CN Bold';float: left;margin-top: 20px">工<br>作<br>计<br>划</span>-->
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;">
    </div>
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;margin-left:28px;">
    </div>
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;margin-left:28px;">
    </div>
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;margin-left:28px;">
    </div>
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;margin-left:28px;">
    </div>
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;margin-left:28px;">
    </div>
    <div style="width:160px;height:180px;background-color: #fff;float: left;margin-top: 20px;margin-left:28px;">
    </div>
</div>


</body>
</html>