<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>工资核算绩效管理系统 ——绩效管理</title>
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../css/css.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        input::-webkit-input-placeholder{
            color: #999999;
        }
    </style>
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body style="width: 100%; height: 90%; background: #F3F7FC;">
<!-- 导航 -->
<div style="width: 100%; height: 36px; margin-top: 10px;">
    <div class="main_locbg font2" style="background:#fff; font-size: 14px; text-align: left; padding: 0 30px 0 30px"><img src="../images/address.png" alt="">&nbsp;当前位置：绩效管理&gt; 工作计划</div>
</div>
<div style="height: 100%;margin-top: 20px;">
    <div id="echarts" style="height:300px; background-color: #FFFFFF; margin-bottom: 20px"></div>
    <div id="card_div" class="layui-row layui-col-space10">
        <div id="add" class="layui-col-md2">
            <div style="height:200px; background-color: #FFFFFF; color: #333333; text-align: center">
                <p style="padding-top: 40px"><img width="70px" height="70px" src="../images/add.png" alt=""></p>
                <p style="margin-top: 20px"><strong style="font-size: 16px">创建目标</strong></p>
                <p style="margin-top: 5px; font-size: 14px"> 请尽量在月初1-5号提交自己的目标</p>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-3.4.1.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../layer/layer.js"></script>
<script src="../layui/layui.js"></script>
<script type="text/javascript">
    var type = 2;
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('echarts'));
    $(function(){
        $.ajax({
            url: "/pm/getPermission",
            type: "get",
            async: false,//使用同步的方式,true为异步方式
            error: function (res) {
                console.log(res);
                layer.alert('权限认证有误', {icon: 2});
            },
            success: function (res) {
                type = eval(res);
                console.log(type);
                if (type !== 2) {
                    $("#add").remove();
                }
            }
        });
        //加载柱状图
        $.ajax({
            url: "/pm/performance/getMouthGrade",
            type: "get",
            dataType: "json",
            error: function (res) {
                console.log(res);
                layer.alert('柱状图数据读取错误', {icon: 2});
            },
            success: function (res) {
                console.log(res);
                var option = {
                    title: {
                        text: '绩效分数总览'
                    },
                    tooltip: {},
                    legend: {
                        data:['绩效分数']
                    },
                    xAxis: {
                        data: res.name
                    },
                    yAxis: {},
                    series: [{
                        name: '绩效分数',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#2B7FDE'
                            }
                        },
                        data: res.grade
                    }]
                };
                myChart.setOption(option);
            }
        });
        $.ajax({
            type: "get",
            url: "/pm/performance/getWorkplan",
            dataType: "json",
            error: function () {
                layer.alert('出错了，请与管理员联系！', {icon: 2});
            },
            success: function (res) {
                console.log(res);
                for (var i = 0; i < res.length; i++) {
                    var index = res[i];
                    var new_div = document.createElement("div");
                    var id = index.wid;
                    var time = new Date(index.date);
                    var date = time.getFullYear() + "年" + (time.getMonth() + 1) + "月目标";
                    var plan = index.dailyplan;
                    console.log(date + "________" + plan);
                    new_div.id = id;
                    new_div.className = "layui-col-md2";
                    if (index.completion === "未完成") {
                        new_div.innerHTML = "<div><div style=\"height:200px; background-color: #FFFFFF; color: #333333;text-align: left\"><p style=\"padding: 30px 0 0 40px;\"><img width=\"58px\" height=\"29px\" src=\"../images/unfinished.png\" alt=\"\"></p><p style=\"margin: 20px 0 0 40px\"><strong style=\"font-size: 16px\">" + date + "</strong></p><p style=\"margin: 15px 0 0 40px; font-size: 14px\">" + plan +"</p></div></div>";
                    } else {
                        new_div.innerHTML = "<div><div style=\"height:200px; background-color: #FFFFFF; color: #333333;text-align: left\"><p style=\"padding: 30px 0 0 40px;\"><img width=\"58px\" height=\"29px\" src=\"../images/finished.png\" alt=\"\"></p><p style=\"margin: 20px 0 0 40px\"><strong style=\"font-size: 16px\">" + date + "</strong></p><p style=\"margin: 15px 0 0 40px; font-size: 14px\">" + plan + "</p></div></div>";
                    }
                    document.getElementById("card_div").appendChild(new_div);
                    $("#" + id + "").click(function() {
                        var id = $(this).attr("id");
                        layer.ready(function(){
                            layer.open({
                                type: 2,
                                title: '工作计划',
                                shadeClose: true,
                                area: ['500px', '750px'],
                                content: 'aim_iframe.html?type=2&wid=' + id//type=1 修改操作
                            });
                        });
                    });
                }
            }
        });
    });
    $("#add").click(function(){
        layer.ready(function(){
            layer.open({
                type: 2,
                title: '工作计划',
                shadeClose: true,
                area: ['500px', '750px'],
                content: 'aim_iframe.html?type=1'//type=1 新增操作
            });
        });
    });
</script>
</body>
</html>