
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>工资核算绩效管理系统 ——用户管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3" />
<meta http-equiv="description" content="This is my page" />
<link href="../layui/css/layui.css" rel="stylesheet" media="all">
<link href="../css/css.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="../js/ligerUI/skins/Aqua/css/ligerui-dialog.css" />
<link href="../js/ligerUI/skins/ligerui-icons.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../js/jquery-migrate-1.2.1.js"></script>
<script src="../js/ligerUI/js/core/base.js" type="text/javascript"></script>
<script src="../js/ligerUI/js/plugins/ligerDrag.js"
	type="text/javascript"></script>
<script src="../js/ligerUI/js/plugins/ligerDialog.js"
	type="text/javascript"></script>
<script src="../js/ligerUI/js/plugins/ligerResizable.js"
	type="text/javascript"></script>
<link href="../css/pager.css" type="text/css" rel="stylesheet" />

<link href="../css/css.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="../js/ligerUI/skins/Aqua/css/ligerui-dialog.css" />
<link href="../js/ligerUI/skins/ligerui-icons.css" rel="stylesheet"
	type="text/css" />
<script src="../js/ligerUI/js/core/base.js" type="text/javascript"></script>
<script src="../js/ligerUI/js/plugins/ligerDrag.js"
	type="text/javascript"></script>
<script src="../js/ligerUI/js/plugins/ligerDialog.js"
	type="text/javascript"></script>
<script src="../js/ligerUI/js/plugins/ligerResizable.js"
	type="text/javascript"></script>
<link href="../css/pager.css" type="text/css" rel="stylesheet" />

<style type="text/css">
	.content{
		width:100%;
		height:90%;
		border:0;
		background-color: white;
		margin-top: 10px;
	}
	.input-content{
		text-align: left;
		padding: 30px 60px
	}
	.input-content p{
		font-size: 14px;
		font-family: '思源黑体 CN Bold';
		color: #333;
		padding-bottom: 10px;
		padding-top: 20px;
	}
	.input-content input{
		width:350px;
		height:36px;
		border: 1px solid #cecece;
		border-radius: 4px;
		padding-left: 10px;
		font-size: 14px;
	}
	.button{
		width:350px;
		height:36px;
		border: 0;
		background-color: #2B7FDE;
		border-radius: 4px;
		color: #fff;
	}
	input::-webkit-input-placeholder{
		color:#999999;
	}


</style>
</head>
<body class="layout-fixed"  style="background: #f3f7fc;">
	<!--<script language="JavaScript">-->
	<!--			var context="/hrm",__contextPath="/hrm",__extendOptions="main/options";-->
	<!--		</script>-->
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td height="10"></td>
		</tr>
		<tr>
			<td width="15" height="36" style="background:#fff"></td>
			<td class="main_locbg font2" style="background:#fff; font-size: 14px"><img src="../images/address.png">&nbsp;当前位置：用户管理
				&gt; 修改密码</td>
			<td width="15" height="36" style="background:#fff"></td>
		</tr>
	</table>
	<div class="content" >
		<div class="input-content">
			<p>原密码：</p><input type="password" placeholder="请输入原密码" name="oldPassword" id="oldPassword"/>
			<p>新密码：</p><input type="password" placeholder="请输入新密码" name="newPassword" id="newPassword"/>
			<p>确认密码：</p><input type="password" placeholder="请输入确认密码" name="confirmPassword" id="confirmPassword"/>
			<p></p><input type="submit" id="editBtn" value="确认修改" class="button"/>
		</div>
	</div>
	<div style="height: 10px;"></div>

<script src="../js/jquery-3.4.1.js"></script>
<script src="../layer/layer.js"></script>
<script src="../layui/layui.js"></script>
<script type="text/javascript">
	/** 修改密码 */
	$(function() {
		$("#editBtn").on("click",function() {
			var oldPwd = $("#oldPassword");
			var newPwd = $("#newPassword");
			var confirmPwd = $("#confirmPassword");
			console.log($.trim(oldPwd.val()));
			var msg="";
			if ($.trim(oldPwd.val()) == "") {
				msg = "原密码不能为空！";
				oldPwd.focus();
			}
			else if ($.trim(newPwd.val()) == "") {
				msg = "新密码不能为空！";
				newPwd.focus();
			} else if ($.trim(newPwd.val()).length < 6
					|| $.trim(newPwd.val()).length > 18) {
				msg = "新密码需要大于6位小于18位！";
				newPwd.focus();
			} else if ($.trim(confirmPwd.val()) == "") {
				msg = "确认密码不能为空！";
				confirmPwd.focus();
			}else if(!$.trim(newPwd.val()===confirmPwd.val())) {
				msg = "两次密码输入不一致";
			}
			if (msg != "") {
				layer.alert(msg, {icon: 2});
				return false;
			}
			$.ajax({
				url : "/pm/user/updatePassword",
				type : 'post',
				data : {
					oldPwd : oldPwd.val(),
					newPwd : newPwd.val(),
					confirmPwd : confirmPwd.val()
				},
				dataType: 'json',
				success: function(response) {
					console.log(response);
					if(response === "SUCCESS"){
						layer.alert('修改密码成功！', {icon: 1});
						// 其他操作
					} else if (response === "INCORRECT"){
						layer.alert('原始密码不匹配，请重试！', {icon: 2});
					} else {
						layer.alert('联系后台管理员！', {icon: 2});
					}
				},
				error: function(response) {
					alert('联系后台管理员！');
				}
			});
		});
	})
</script>
</body>
</html>