<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>工资核算绩效管理系统 ——考勤管理</title>
	<link href="../css/css.css" type="text/css" rel="stylesheet"/>
	<link href="../layui/css/layui.css" rel="stylesheet" media="all">
	<style type="text/css">
		input::-webkit-input-placeholder{
			color:#999999;
		}
		.search_bar{
			padding-left: 10px;
			font-size: 14px;
		}
		.search_btn{
			font-size: 14px;
		}
	</style>
</head>
<body style="width: 100%; background: #F3F7FC;">
<!-- 导航 -->
<div style="width: 100%; height: 36px; margin-top: 10px;">
	<div class="main_locbg font2" style="background:#fff; font-size: 14px; text-align: left; padding: 0 30px 0 30px"><img src="../images/address.png" alt="">&nbsp;当前位置：考勤管理&gt; 考勤信息管理</div>
</div>
<div class="main_tabbor">
	<!--搜索区域-->
	<div style="text-align: left; padding: 20px 30px 0 30px">
		员工姓名：<input type="text" class="search_bar" id="empName" placeholder="请输入员工姓名"  name="empName" style="padding-left: 10px"/>
		<span style="margin-left: 10px">员工工号：</span><input type="text" class="search_bar" id="empId" placeholder="请输入员工工号" name="empId" style="padding-left: 10px"/>
		<input id="search" class="search_btn" style="background-color: #2B7FDE; margin-left: 15px" type="button" value="查询"/>
		<input id="add" class="search_btn" style="background-color: #2B7FDE;float: right;" type="button" value="新增"/>
	</div>
	<!--表单区域-->
	<div style="height: 4px; background-color: #2B7FDE; margin: 20px 30px -10px 30px;"></div>
	<div style="margin: 0 30px 0 30px">
		<table class="layui-table" lay-data="{height: 'full-180', url:'/test/table/demo2.json?v=2', page: true">
			<thead>
			<tr>
				<th lay-data="{field:'username', align: 'center'}" rowspan="2">序号</th>
				<th lay-data="{field:'uempid', align: 'center'}" rowspan="2">员工工号</th>
				<th lay-data="{field:'uempname', align: 'center'}" rowspan="2">员工姓名</th>
				<th lay-data="{field:'ayear', align: 'center'}" rowspan="2">年份</th>
				<th lay-data="{field:'amonth', align: 'center'}" rowspan="2">月份</th>
				<th lay-data="{field:'alatecome', align: 'center'}" rowspan="2">迟到次数</th>
				<th lay-data="{field:'aearlyleave', align: 'center'}" rowspan="2">早到次数</th>
				<th lay-data="{field:'aearlycome', align: 'center'}" rowspan="2">早退次数</th>
				<th lay-data="{align:'center'}" colspan="3">加班次数</th>
				<th lay-data="{field:'aleave', align: 'center'}" rowspan="2">请假次数</th>
				<th lay-data="{field:'bonusres', align: 'center'}" rowspan="2">奖罚结果</th>
				<th lay-data="{fixed: 'right', align: 'center', toolbar: '#barDemo'}" rowspan="2">操作</th>
			</tr>
			<tr>
				<th lay-data="{field:'workovertime', align: 'center'}">工作日</th>
				<th lay-data="{field:'wovertime', align: 'center'}">双休日</th>
				<th lay-data="{field:'hovertime', align: 'center'}">国定假日</th>
			</tr>
			</thead>
		</table>
	</div>
	<div style="height: 15px; background-color: #FFFFFF; margin: 0 30px 0 30px"></div>
</div>
<script src="../js/jquery-3.4.1.js"></script>
<script src="../layer/layer.js"></script>
<script src="../layui/layui.js"></script>
<script type="text/html" id="barDemo">
	<a lay-event="edit" style="color: #2BAEDE; font-size: 14px">编辑</a>
	<a lay-event="del" style="color: #DE2B2B; font-size: 14px">删除</a>
</script>
<script>
	layui.use('table', function () {
		var table = layui.table;
	});
	$("#add").click(function(){
		layer.ready(function(){
			layer.open({
				type: 2,
				title: '新增',
				shadeClose: true,
				area: ['500px', '550px'],
				content: 'staff_iframe.html?type=1',//type=1 新增操作
				end: function(){
					//layer.tips('Hi', '#about', {tips: 1})
				}
			});
		});
	});
</script>
</body>
</html>