<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息管理弹出页</title>
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../css/theme.css" rel="stylesheet">
</head>
<body style="padding: 30px 50px 30px 30px">
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-block">
            <input type="text" name="uempname" required lay-verify="required" placeholder="请输入员工姓名"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="text" name="age" required lay-verify="required" placeholder="请输入年龄"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="0" title="男" checked>
            <input type="radio" name="sex" value="1" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <select id="dept_list" name="dept" lay-verify="required">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入职时间</label>
        <div class="layui-inline">
            <input type="text" name="startdate" class="layui-input test-item" placeholder="请选择入职时间" id="entry_time">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../js/jquery-3.4.1.js"></script>
<script src="../layer/layer.js"></script>
<script src="../layui/layui.js"></script>
<script>
    var type;
    $(function(){
        var url = location.search; //这一条语句获取了包括问号开始到参数的最后，不包括前面的路径
        var params = url.substr(1);//去掉问号
        var pa = params.split("&");
        var s = {};
        for(var i = 0; i < pa.length; i ++){
            s[pa[i].split("=")[0]] = unescape(pa[i].split("=")[1]);
        }
        type = s.type;
        $.ajax({
            url: "/pm/employee/getAllDept",
            type: "get",
            dataType: "json",
            error: function () {
                layer.alert('出错了，请与管理员联系！', {icon: 2});
            },
            success: function (res) {
                console.log(res);
                $.each(res, function (index, item) {
                    $('#dept_list').append(new Option(item.deptname, item.did));// 下拉菜单里添加元素
                    layui.form.render("select");
                });
            }
        });
    });

    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            console.log(data.field.startdate);
            $.ajax({
                type:"post",
                url:"/pm/employee/addEmployee",
                data : {
                    uempname : data.field.uempname,
                    age : data.field.age,
                    sex : data.field.sex,
                    idnum : data.field.idnum,
                    telnum : data.field.telnum,
                    startdate : data.field.startdate,
                    deptnum : data.field.deptnum
                },
                datatype: "json",
                error: function(){
                    //请求出错处理
                    layer.alert('出错了，请与管理员联系！', {icon: 2});
                },
                success:function(res){
                    if (res === "FAIL") {
                        layer.alert('新增失败', {icon: 2});
                    } else {
                        layer.alert('新增成功', {icon: 1});
                    }
                }
            });
            return false;
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#entry_time' //指定元素
            ,theme: '#2B7FDE'
            ,trigger: 'click'
        });
    });
</script>
</body>
</html>