<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息管理弹出页</title>
    <link href="../layui/css/layui.css" rel="stylesheet" media="all">
    <link href="../css/theme.css" rel="stylesheet">
</head>
<body style="padding: 30px 50px 30px 30px">
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-block">
            <input type="text" name="uempname" required lay-verify="required" placeholder="请输入员工姓名"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="text" name="age" required lay-verify="required" placeholder="请输入年龄"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="0" title="男" checked>
            <input type="radio" name="sex" value="1" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份证号码</label>
        <div class="layui-input-block">
            <input type="text" name="idnum" required lay-verify="required" placeholder="请输入身份证号码"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话号码</label>
        <div class="layui-input-block">
            <input type="text" name="telnum" required lay-verify="required" placeholder="请输入电话号码"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <select id="dept_list" name="deptnum" lay-verify="required">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入职时间</label>
        <div class="layui-inline">
            <input type="text" name="startdate" class="layui-input test-item" placeholder="请选择入职时间" id="entry_time">
        </div>
    </div>
    <div id="username" class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="password" class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="role" class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <input type="radio" name="role" value="0" title="管理员" checked>
            <input type="radio" name="role" value="1" title="部门经理">
            <input type="radio" name="role" value="2" title="普通员工">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../js/jquery-3.4.1.js"></script>
<script src="../layer/layer.js"></script>
<script src="../layui/layui.js"></script>
<script>
    var type;
    var id;
    $(function(){
        var url = location.search; //这一条语句获取了包括问号开始到参数的最后，不包括前面的路径
        console.log(url);
        var params = url.substr(1);//去掉问号
        var pa = params.split("&");
        var s = {};
        for(var i = 0; i < pa.length; i ++){
            s[pa[i].split("=")[0]] = unescape(pa[i].split("=")[1]);
        }
        type = s.type + "";
        id = s.uid + "";
        $.ajax({
            url: "/pm/employee/getAllDept",
            type: "get",
            dataType: "json",
            error: function () {
                layer.alert('出错了，请与管理员联系！', {icon: 2});
            },
            success: function (res) {
                console.log(res);
                $.each(res, function (index, item) {
                    $('#dept_list').append(new Option(item.deptname, item.did));// 下拉菜单里添加元素
                    layui.form.render('select');
                });
            }
        });
        if (type === "2") {
            $.ajax({
                type: "get",
                url: "/pm/employee/getEmployeeFromId",
                data : {
                    uempid : id
                },
                dataType: "json",
                error: function () {
                    layer.alert('出错了，请与管理员联系！', {icon: 2});
                },
                success: function (res) {
                    console.log(res);
                    $("input[name='uempname']").attr('value',res.uempname);
                    $("input[name='age']").attr('value',res.age);
                    $("input:radio[name='sex'][value='" + res.sex + "']").attr('checked','true');
                    $("input[name='idnum']").attr('value',res.idnum);
                    $("input[name='telnum']").attr('value',res.telnum);
                    console.log(document.getElementById("dept_list"));
                    console.log(res.deptnum);
                    //document.getElementById("dept_list").value = res.deptnum;
                    //$("#dept_list").val(res.deptnum);
                    var time = new Date(res.startdate);
                    var day = time.getDate();
                    if (time.getDate() < 10)
                        day = "0" + time.getDate();
                    var startdate = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + day;
                    $("input[name='startdate']").attr('value', startdate);
                    $("#username").remove();
                    $("#password").remove();
                    $("#role").remove();
                    parent.layer.iframeAuto(parent.layer.getFrameIndex(window.name));
                }
            });
        }
    });

    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            if (type === "1") {
                $.ajax({
                    type:"post",
                    url:"/pm/employee/addEmployee",
                    data : {
                        uempname : data.field.uempname,
                        age : data.field.age,
                        sex : data.field.sex,
                        idnum : data.field.idnum,
                        telnum : data.field.telnum,
                        startdate : data.field.startdate,
                        deptnum : data.field.deptnum,
                        username : data.field.username,
                        password : data.field.password,
                        role : data.field.role
                    },
                    datatype: "json",
                    error: function(){
                        //请求出错处理
                        layer.alert('出错了，请与管理员联系！', {icon: 2});
                    },
                    success:function(res){
                        if (res === "FAIL") {
                            parent.layer.alert('新增失败', {icon: 2});
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        } else {
                            parent.layer.alert('新增成功', {icon: 1});
                            parent.layui.table.reload('staff_table', {
                                url: '/pm/employee/getAllEmployee'
                            });
                            parent.layer.close(parent.layer.getFrameIndex(window.name));

                        }
                    }
                });
            } else {
                $.ajax({
                    type:"post",
                    url:"/pm/employee/updateEmployee",
                    data : {
                        uempname : data.field.uempname,
                        age : data.field.age,
                        sex : data.field.sex,
                        idnum : data.field.idnum,
                        telnum : data.field.telnum,
                        startdate : data.field.startdate,
                        deptnum : data.field.deptnum,
                        uempid : id
                    },
                    datatype: "json",
                    error: function(){
                        //请求出错处理
                        layer.alert('出错了，请与管理员联系！', {icon: 2});
                    },
                    success:function(res){
                        if (res === "FAIL") {
                            parent.layer.alert('编辑失败', {icon: 2});
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        } else {
                            parent.layer.alert('编辑成功', {icon: 1});
                            parent.layui.table.reload('staff_table', {
                                url: '/pm/employee/getAllEmployee'
                            });
                            parent.layer.close(parent.layer.getFrameIndex(window.name));

                        }
                    }
                });
            }
            return false;
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#entry_time' //指定元素
            ,theme: '#2B7FDE'
            ,trigger: 'click'
        });
    });
</script>
</body>
</html>