<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cqut.pm_system.dao.AttendanceDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
	<resultMap id="AttendanceMap" type="edu.cqut.pm_system.entity.Attendance">
		<id column="aid" property="aid" jdbcType="VARCHAR" />
		<result column="uempid" property="uempid" jdbcType="VARCHAR" />
		<result column="uempname" property="uempname" jdbcType="VARCHAR" />
		<result column="ayear" property="ayear" jdbcType="INTEGER" />
		<result column="amonth" property="amonth" jdbcType="INTEGER" />
		<result column="alatecome" property="alatecome" jdbcType="INTEGER" />
		<result column="aearlyleave" property="aearlyleave" jdbcType="INTEGER" />
		<result column="aearlycome" property="workovertime" jdbcType="INTEGER" />
		<result column="workovertime" property="workovertime" jdbcType="INTEGER" />
		<result column="aleave" property="aleave" jdbcType="INTEGER" />
		<result column="bonusres" property="bonusres" jdbcType="DOUBLE" />
		<result column="wovertime" property="wovertime" jdbcType="INTEGER" />
		<result column="hovertime" property="hovertime" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="AttendanceSetMap" type="edu.cqut.pm_system.entity.AttendanceSet">
		<id column="setid" property="setid" jdbcType="VARCHAR" />
		<result column="setlatecome" property="setlatecome" jdbcType="DOUBLE" />
		<result column="setearlyleave" property="setearlyleave" jdbcType="DOUBLE" />
		<result column="setearlycome" property="setearlycome" jdbcType="DOUBLE" />
		<result column="setworkovertime" property="setworkovertime" jdbcType="DOUBLE" />
		<result column="setleave" property="setleave" jdbcType="DOUBLE" />
		<result column="setwovertime" property="setwovertime" jdbcType="DOUBLE" />
		<result column="sethovertime" property="sethovertime" jdbcType="DOUBLE" />
	</resultMap>

	<select id="getAllAttendanceSet" resultMap="AttendanceSetMap">
		SELECT
			attendance_set.setid,
			attendance_set.setlatecome,
			attendance_set.setearlyleave,
			attendance_set.setearlycome,
			attendance_set.setworkovertime,
			attendance_set.setleave,
			attendance_set.setwovertime,
			attendance_set.sethovertime
		FROM
			attendance_set
    </select>

	<select id="getAllAttendance" resultMap="AttendanceMap">
		SELECT
			attendance.aid,
			attendance.uempid,
			attendance.uempname,
			attendance.ayear,
			attendance.amonth,
			attendance.alatecome,
			attendance.aearlyleave,
			attendance.aearlycome,
			attendance.workovertime,
			attendance.aleave,
			attendance.bonusres,
			attendance.wovertime,
			attendance.hovertime
		FROM
			attendance
    </select>

	<update id="updateAttendance">
		UPDATE attendance
		<trim prefix="set" suffixOverrides=",">
			<if test="ayear != null">ayear = #{ayear},</if>
			<if test="amonth != null">amonth = #{amonth},</if>
			<if test="alatecome != null">alatecome = #{alatecome},</if>
			<if test="aearlyleave != null">aearlyleave=#{aearlyleave},</if>
			<if test="workovertime != null">workovertime=#{workovertime},</if>
			<if test="aleave != null">aleave=#{aleave},</if>
			<if test="wovertime != null">wovertime=#{wovertime},</if>
			<if test="hovertime != null">hovertime=#{hovertime},</if>
			<if test="bonusres != null">bonusres=#{bonusres},</if>
		</trim>
		<where>
			attendance.aid = #{aid}
		</where>
    </update>

	<insert id="addAttendance" parameterType="edu.cqut.pm_system.entity.Attendance">
        INSERT INTO attendance
        VALUES
	    (#{aid, jdbcType=VARCHAR}, #{uempid, jdbcType=VARCHAR}, #{uempname, jdbcType=VARCHAR}, #{ayear, jdbcType=INTEGER}, #{amonth, jdbcType=INTEGER}, #{alatecome, jdbcType=INTEGER}, #{aearlyleave, jdbcType=INTEGER}, #{aearlycome, jdbcType=INTEGER}, #{workovertime, jdbcType=INTEGER}, #{aleave, jdbcType=INTEGER}, #{bonusres, jdbcType=DOUBLE}, #{wovertime, jdbcType=INTEGER}, #{hovertime, jdbcType=INTEGER})
    </insert>

	<delete id="deleteAttendance">
		DELETE
		FROM
			attendance
		WHERE
			attendance.aid = #{aid}
	</delete>

	<select id="searchAttendance" resultMap="AttendanceMap">
		SELECT
		attendance.aid,
		attendance.uempid,
		attendance.uempname,
		attendance.ayear,
		attendance.amonth,
		attendance.alatecome,
		attendance.aearlyleave,
		attendance.aearlycome,
		attendance.workovertime,
		attendance.aleave,
		attendance.bonusres,
		attendance.wovertime,
		attendance.hovertime
		FROM
		attendance
		WHERE
		1 = 1
		<if test="uempid != null and uempid != ''">
			AND attendance.uempid like CONCAT('%',#{uempid},'%')
		</if>
		<if test="uempname != null and uempname != ''">
			AND attendance.uempname like CONCAT('%',#{uempname},'%')
		</if>
		<if test="ayear != null">
			AND attendance.ayear = #{ayear}
		</if>
		<if test="amonth != null">
			AND attendance.amonth = #{amonth}
		</if>
	</select>

	<select id="getEmpBasesalary" resultType="java.lang.Double">
		SELECT
		salary_set.basesalary
		FROM
		salary_set
		LEFT JOIN attendance ON attendance.aid = #{aid}
		LEFT JOIN `user` ON `user`.uid = attendance.uempid
		LEFT JOIN employee ON employee.uempid = attendance.uempid
		WHERE
		salary_set.deptnum = employee.deptnum
		AND salary_set.role = `user`.role
	</select>
</mapper>