<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cqut.pm_system.dao.PersonnelDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
	<resultMap id="EmployeeMap" type="edu.cqut.pm_system.entity.Employee">
		<id column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="uempid" property="uempid" jdbcType="VARCHAR" />
		<result column="uempname" property="uempname" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="idnum" property="idnum" jdbcType="VARCHAR" />
		<result column="telnum" property="telnum" jdbcType="VARCHAR" />
		<result column="startdate" property="startdate" jdbcType="TIMESTAMP" />
		<result column="deptnum" property="deptnum" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="DeptMap" type="edu.cqut.pm_system.entity.Dept">
		<id column="did" property="did" jdbcType="VARCHAR" />
		<result column="deptname" property="deptname" jdbcType="VARCHAR" />
		<result column="deptnum" property="deptnum" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getAllEmployee" resultMap="EmployeeMap">
		SELECT
			employee.uid,
			employee.uempid,
			employee.uempname,
			employee.age,
			employee.sex,
			employee.idnum,
			employee.telnum,
			employee.startdate,
			dept.deptname deptnum
		FROM
			employee, dept
		WHERE
			employee.deptnum = dept.did
    </select>

	<select id="getAllDept" resultMap="DeptMap">
		SELECT
			dept.did,
			dept.deptname,
			dept.deptnum,
			dept.tel
		FROM
			dept
	</select>

	<insert id="addEmployee" parameterType="edu.cqut.pm_system.entity.Employee">
        INSERT INTO employee
        VALUES
	    (#{uid, jdbcType=VARCHAR}, #{uempid, jdbcType=VARCHAR}, #{uempname, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER}, #{sex, jdbcType=INTEGER}, #{idnum, jdbcType=VARCHAR}, #{telnum, jdbcType=VARCHAR}, #{startdate, jdbcType=TIMESTAMP}, #{deptnum, jdbcType=VARCHAR})
    </insert>

	<insert id="addUser" parameterType="edu.cqut.pm_system.entity.User">
        INSERT INTO user
        VALUES
	    (#{uid, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{role, jdbcType=INTEGER})
    </insert>

	<delete id="deleteEmployeeFromUempid">
		DELETE
		FROM
			employee
		WHERE
			employee.uempid = #{uempid}
	</delete>

	<delete id="deleteUserFromUid">
		DELETE
		FROM
			USER
		WHERE
			USER .uid = #{uid}
	</delete>

	<select id="searchEmployee" resultMap="EmployeeMap">
		SELECT
			employee.uid,
			employee.uempid,
			employee.uempname,
			employee.age,
			employee.sex,
			employee.idnum,
			employee.telnum,
			employee.startdate,
			dept.deptname deptnum
		FROM
			employee,
			dept
		WHERE
			employee.deptnum = dept.did
		<if test="uempid != null and uempid != ''">
			AND employee.uempid = #{uempid}
		</if>
		<if test="deptname != null and deptname != ''">
			AND dept.deptname like CONCAT('%',#{deptname},'%')
		</if>
	</select>

	<select id="getEmployeeFromId" resultMap="EmployeeMap">
		SELECT
			employee.uempid,
			employee.uempname,
			employee.age,
			employee.sex,
			employee.idnum,
			employee.telnum,
			employee.startdate,
			dept.did deptnum
		FROM
			employee,
			dept
		WHERE
			employee.deptnum = dept.did
		AND employee.uempid = #{uempid}
    </select>

	<update id="updateEmployee"  parameterType="edu.cqut.pm_system.entity.Employee">
		UPDATE employee
		SET employee.uid = #{uid,jdbcType=VARCHAR},
		 employee.uempname = #{uempname,jdbcType=VARCHAR},
		 employee.age = #{age, jdbcType=INTEGER},
		 employee.sex = #{sex, jdbcType=INTEGER},
		 employee.idnum = #{idnum,jdbcType=VARCHAR},
		 employee.telnum = #{telnum,jdbcType=VARCHAR},
		 employee.deptnum = #{deptnum,jdbcType=VARCHAR},
		 employee.startdate = #{startdate, jdbcType=TIMESTAMP}
		WHERE
			employee.uempid = #{uempid,jdbcType=VARCHAR}
    </update>

	<select id="searchDept" resultMap="DeptMap">
		SELECT
			dept.did,
			dept.deptname,
			dept.deptnum,
			dept.tel
		FROM
			dept
		WHERE
			1 = 1
			<if test="deptnum != null and deptnum != ''">
				AND dept.deptnum like CONCAT('%',#{deptnum},'%')
			</if>
			<if test="deptname != null and deptname != ''">
				AND dept.deptname like CONCAT('%',#{deptname},'%')
			</if>
	</select>

	<insert id="addDept" parameterType="edu.cqut.pm_system.entity.Dept">
        INSERT INTO dept
        VALUES
	    (#{did, jdbcType=VARCHAR}, #{deptname, jdbcType=VARCHAR}, #{deptnum, jdbcType=VARCHAR}, #{tel, jdbcType=VARCHAR})
    </insert>

	<delete id="deleteDeptFromId">
		DELETE
		FROM
			dept
		WHERE
			dept.did = #{did}
	</delete>

	<update id="updateDept"  parameterType="edu.cqut.pm_system.entity.Dept">
		UPDATE dept
		SET dept.deptname = #{deptname,jdbcType=VARCHAR},
		 dept.deptnum = #{deptnum, jdbcType=VARCHAR},
		 dept.tel = #{tel, jdbcType=VARCHAR}
		WHERE
			dept.did = #{did,jdbcType=VARCHAR}
    </update>

	<select id="getDeptFromId" resultMap="DeptMap">
		SELECT
			dept.did,
			dept.deptname,
			dept.deptnum,
			dept.tel
		FROM
			dept
		WHERE
			dept.did = #{did}
    </select>
</mapper>